<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 加载系统运行环境依赖的配置，例如：系统设置的变量、数据源等等 -->

    <bean class="com.efun.core.config.PropertiesConfigurationLoader">
        <!--<property name="fileNames">
            <list>
                <value>echo-demo.properties</value>
            </list>
        </property>-->
    </bean>

    <context:component-scan base-package="com.efun.core.config"/>

    <!-- 数据源配置 -->
    <bean id="readDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <!-- 基本属性 url、user、password -->
        <property name="driverClassName" value="#{T(com.efun.core.config.Configuration).getProperty('datasource.read.driver')}"/>
        <property name="url" value="#{T(com.efun.core.config.Configuration).getProperty('datasource.read.url')}" />
        <property name="username" value="#{T(com.efun.core.config.Configuration).getProperty('datasource.read.username')}" />
        <property name="password" value="#{T(com.efun.core.config.Configuration).getProperty('datasource.read.password')}" />
    </bean>

    <bean id="writeDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <!-- 基本属性 url、user、password -->
        <property name="driverClassName" value="#{T(com.efun.core.config.Configuration).getProperty('datasource.write.driver')}"/>
        <property name="url" value="#{T(com.efun.core.config.Configuration).getProperty('datasource.write.url')}" />
        <property name="username" value="#{T(com.efun.core.config.Configuration).getProperty('datasource.write.username')}" />
        <property name="password" value="#{T(com.efun.core.config.Configuration).getProperty('datasource.write.password')}" />
    </bean>



</beans>