<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="15" packages="com.efun.core.log">

    <properties>
        <property name="LOG_NAME">${log:log.file.name.base}</property>
    </properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5level| %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%file:%line] - %msg%n" />
        </Console>

        <RollingRandomAccessFile name="log" fileName="${LOG_NAME}.log"
                                 filePattern="${LOG_NAME}-%d{yyyy-MM-dd-HH}.log" >
            <PatternLayout pattern="%-5level| %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%file:%line] - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <AsyncLogger name="org.springframework" level="info" includeLocation="true"/>
        <AsyncLogger name="com.efun.core.config" level="info" includeLocation="true"/>
        <AsyncLogger name="org.apache.ibatis.logging.jdbc" level="${log:log.level}" includeLocation="true"/>
        <AsyncLogger name="com.efun" level="${log:log.level}" includeLocation="true"/>

        <AsyncRoot level="info" includeLocation="true">
            <AppenderRef ref="log" />
            <AppenderRef ref="console" />
        </AsyncRoot>
    </Loggers>
</Configuration>